<%= form_with(model: user, url: user_choose_new_or_edit, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="table-responsive border">
    <table class="table">
      <tbody>
        <tr class="field form-group">
          <th class=""><%= form.label :event_no %></th>
          <td><%= form.text_field :event_no, value:@event.event_no,class:"form-control" %></td>
        </tr>
        <tr class="field form-group">
          <th class=""><%= form.label :event_sub_no %></th>
          <td><%= form.number_field :event_sub_no, value:@dday.event_sub_no, class:"form-control" %></td>
        </tr>

        <tr class="field form-group">
          <th class=""><%= form.label :serial_no %></th>
          <td><%= form.number_field :serial_no, value: @serial_no, class:"form-control" %></td>
        </tr>

        <tr class="field form-group">
          <th class=""><%= form.label :twitter_screenname %></th>
          <td><%= form.text_field :twitter_screenname,class:"form-control" %></td>
        </tr>
        <tr class="field form-group">
          <th class=""><%= form.label :dday_id %></th>
          <td><%= form.number_field :dday_id, value:@dday.id,class:"form-control" %></td>
        </tr> 
      </tbody>
    </table>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class:"btn btn-secondary btn-block" %>
  </div>
</div>
<% end %>
