
<div class="container-fluid">
  <div class="container">
    <p id="notice"><%= notice %></tr>
    <table class="table border">
      <tbody>
        <tr>
          <th><strong>イベントID</strong></th>
          <td><span class="m-5 text-nowrap"><%= @event.event_no %></span></th>
        </tr>
        <tr>
          <th><strong>イベント名</strong></th>
          <td><span class="m-5 text-nowrap"><%= @event.event_name %></span></th>
        </tr>
        <tr>
          <th><strong>内容</strong></th>
          <td><span class="m-5 text-nowrap"><%= @event.contents %></span></th>
        </tr>
        <tr>
          <th><strong>開催回数</strong></th>
          <td><span class="m-5 text-nowrap"><%= @event.days_held %></span></th>
        </tr>
        <tr>
          <th><strong>主催者Twiiterアカウント</strong></th>
          <td><span class="m-5 text-nowrap"><%= @event.organizar%></span></th>
        </tr>
        <tr>
          <th><strong>回答期限</strong></th>
          <td><span class="m-5 text-nowrap"><%= @event.try(:deadline).strftime("%Y年 %m月 %d日")+" ("+week(@event.try(:deadline))+")" %></span></th>
        </tr>
        <tr>
          <th><strong>複数参加可否区分</strong></th>
          <td><span class="m-5 text-nowrap"><%= @event.multiple_entries %></span></th>
        </tr>
        <tr>
          <th><strong>登録日時</strong></th>
          <td><span class="m-5 text-nowrap"><%= @event.try(:created_at).strftime("%Y年 %m月 %d日")+" ("+week(@event.try(:created_at))+")" %></span></th>
        </tr>
        <tr>
          <th><strong>更新日時</strong></th>
          <td><span class="m-5 text-nowrap"><%= @event.try(:updated_at).strftime("%Y年 %m月 %d日")+" ("+week(@event.try(:updated_at))+")" %></span></th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive">
    <table class="table border">
      <thead>
        <tr class="">
          <th class="text-nowrap "><strong>開催決定区分</strong></th>
          <th class="text-nowrap "><strong>ZoomID/url</strong></th>
          <th class="text-nowrap "><strong>開催日時</strong></th>
          <th class="text-nowrap "><strong>内容</strong></th>
          <% @col_range.in_groups_of(@max_col) do |group|%>
            <% group.each do |n| %>
              <th class="text-nowrap "><strong><%= n %></strong></th>
            <% end %>
          <% end %>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @dday.each do |dday| %>
        <tr class="">
          <td class="text-nowrap ">
            <div class="form-check"><input type="checkbox" class="form-check-input" value=""><label for="" class="form-check-label">決定</label></div>
            <div class="form-check"><input type="checkbox" class="form-check-input" value=""><label for="" class="form-check-label">キャンセル</label></div>
            <div class="form-check"><input type="checkbox" class="form-check-input" value=""><label for="" class="form-check-label">延期</label></div>
            <button class="btn btn-sm btn-secondary">DM送信</button>
          </td>
          <td class="text-nowrap "><%= dday.try(:zoom_url) %>/<br><%= dday.try(:zoom_id) %></td>
          <td class="text-nowrap "><%= dday.try(:event_date).strftime("%Y年 %m月 %d日")+" ("+week(dday.try(:event_date))+")" %></td>
          <td class="text-nowrap "><%= dday.try(:decision) %></td>
          <% [*(1..dday.max_num )].in_groups_of(@max_col) do |group|%>
            <% group.each do |num| %>
            <td id="<%= dday.event_id %>_<%= dday.event_sub_no %>_entry_<%= num %>" class="text-nowrap ">
              <% if num.present? %>
                <%= User.where(event_no: dday.event_no).where(event_sub_no: dday.event_sub_no).find_by(serial_no: num).try(:twitter_screenname) || "空" %>
              <% end %>
            </td>
            <% end %>
          <% end %>

          <td>
            <%
=begin%>
 <%= link_to '編集', edit_dday_path(@event.id,dday.id),class:"btn btn-secondary btn-sm text-nowrap" %> 
<%
=end%>
            <%= link_to '編集', edit_dday_path(dday.id),class:"btn btn-secondary btn-sm text-nowrap" %>
            <%= link_to '削除', dday_path(dday.id), method: :delete, class:"btn btn-secondary btn-sm text-nowrap", data: { confirm: '予定を削除されます。よろしいですか？' } %>
            <%= link_to '参加', new_dday_user_path(dday.id),class:"btn btn-secondary btn-sm text-nowrap" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= link_to '開催日時作成', new_event_dday_path(@event.id),class:"btn btn-secondary btn-block" %>
  <%= link_to 'イベント内容変更', edit_event_path(@event.id),class:"btn btn-secondary btn-block" %> 
  <%= link_to '一覧へ戻る', events_path,class:"btn btn-secondary btn-block" %>
</div>

